/* 
	The Wafflez Cafe style sheet
	
	Name:Eric Gerson
	Date: 1/8/19
	
	filename: waff_menu.css
*/

/* ------------------------
Menu Page
-------------------------- */

div.col-lg-6 {
	text-align:left;
	background: linear-gradient(to bottom, #ff9900 0%, #ffffcc 125%);
	border-left: 1px solid black;
	border-top: 1px solid black; 
	border-bottom:none;
}


div.col-lg-6 h3{
	text-align:center;
	margin: 5px 5px 2px 5px;
	font-size: 26px;

}

div.col-lg-6 > ul {
	border:1px solid black;
	border-radius: 15px;
	padding-left:20px;
	padding-bottom: 5px;
	text-align:center;
	font-size: 24.5px;
	list-style-type:none;
	background: url(images/waffle_list_background.jpg) center no-repeat;
	color:yellow;
	text-shadow: 2px 3px 5px black;
	font-weight:bold;
	line-height:1.25em;
	height:450px;
	
}

div.col-lg-6 > ul.drinks {
	background: url(images/drink_list_background.jpg) center/cover no-repeat;
	color:yellow;
	list-style-type: inherit; 
	padding-left: 33px;
}

div.col-lg-6#colddrinks > ul.drinks {
	
    background: url(images/drink_list_background2.jpg) center/cover no-repeat; 
	font-size:38px;
}



div.col-lg-12{
	text-align:left;
	background: linear-gradient(to bottom, #ff9900 0%, #ffffcc 125%);
	border-top: 1px solid black;

}

div.col-lg-12 h3{
	text-align:center;
	margin: 5px 5px 2px 5px;
	font-size: 26px;

}

div.col-lg-12 > ul {
	border:1px solid black;
	border-radius: 15px;
	padding-left:20px;
	padding-bottom: 5px;
	text-align:center;
	font-size: 25px;
	list-style-type:none;
	background: url(images/waffle_toppings.jpg) center/cover no-repeat;
	color:yellow;
	text-shadow: 2px 3px 5px black;
	font-weight:bold;
	line-height:1.25em;
}
span#premium {
	color:red;
	font-weight:bold;
}

button.btn{
	
	width: 100%;
}

/* -----------------------------
  Mobile Styles: 0px to 480px
  ------------------------------
*/
@media only screen and (max-width: 480px){
	
	div#foodmenu{
		display:none;
	}	
	
	div#drinkmenu{
		display:none;
	}
	div.col-lg-6.waffles ul li{
		
		font-size: 40px;
	}
	
	div.col-lg-6 > ul{
		
		background: linear-gradient(to bottom, #ffcc00 70%, #cc9900 100%);
	}
	
	div.col-lg-6#hotdrinks > ul.drinks{
		
		background: linear-gradient(to bottom, #ffcc00 70%, #cc9900 100%);
	}
	
	div.col-lg-6#colddrinks > ul.drinks {
	
		background: linear-gradient(to bottom, #ffcc00 70%, #cc9900 100%);
	}
	
	div.col-lg-12 > ul {
		
		background: linear-gradient(to bottom, #ffcc00 70%, #cc9900 100%);
	}
}
/* --------------------------------
  Tablet Styles: 480px and greater
  ----------------------------------
*/

@media only screen and (min-width: 481px){
	
	div#foodmenu{
		display:none;
	}	
	
	div#drinkmenu{
		display:none;
	}
	
	div.col-lg-6.waffles ul li{
		
		font-size: 35px;
	}

	div.col-lg-6.hotdrinks ul li{
		
		font-size: 27px;
	}
	
	div.col-lg-6.colddrinks ul li{
		
		font-size: 33px;
	}
	
}

/* --------------------------------
  Tablet Styles: 481px to 495px
  ----------------------------------
*/
@media only screen and (min-width: 481px) and (max-width: 495px){
	
	div.col-lg-6.colddrinks ul li{
		
		font-size: 31px;
	}
	
	div.col-lg-6#flavors ul li{
		
		font-size: 24px;
	}
}

/* --------------------------------
  Tablet Styles: 481px to 532px
  ----------------------------------
*/
@media only screen and (min-width: 481px) and (max-width: 532px){

	div.col-lg-6.hotdrinks ul li{
		
		font-size: 23.75px;
	}
}



/* --------------------------------
  Tablet Styles: 576px and greater
  ----------------------------------
*/


@media only screen and (min-width: 576px){
	
	
	div.col-lg-6.waffles ul li{
		
		font-size: 40px;
	}

}

/* --------------------------------
  Tablet Styles: 645px and greater
  ----------------------------------
*/

@media only screen and (min-width: 645px){
	
	
	div.col-lg-6.waffles ul li{
		
		font-size: 42px;
	}

}


/*-----------------------------------
   Desktop Styles: 769px and greater
   -----------------------------------
*/

@media only screen and (min-width: 769px){
	
	div#foodmenu{
		display:block;
	}	
	
	div#drinkmenu{
		display:block;
	}  
	
	
	div.col-lg-6.hotdrinks ul li{
		
		font-size: 25px;
	}
	
	div.col-lg-6.colddrinks ul li{
		
		font-size: 34px;
	}
}

/*-----------------------------------
   Desktop Styles: 992px to 1047px
   -----------------------------------
*/
@media only screen and (min-width: 992px) and (max-width:1047px){
	
	div.col-lg-6.waffles ul li{
		
		font-size: 39px;
	}

}